link(
    rel='stylesheet'
    href='css/checkin.css'
)
link(
    rel='stylesheet'
    href='css/cart.css'
)
include start
p Ваша корзина:
div(id='cart-nav')
a(href='/finish-order' class="registerbtn1") Перейти к оформлению заказа


script(
    src='/js/cart.js'
)

